{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "semi": "warn",
    "quotes": [
      "warn",
      "single"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "import/no-cycle": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  },
  "globals": {
    "localStorage": true,
    "window": true,
    "document": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true
  }
}